* {
    margin: 0;
    padding: 0;
}
.screen {
    width: 100%;
    height: 2000px;
}
.navbar {
    width: 100%;
    height: 210px;
}
.navbar > div:nth-child(1) {
    width: 97%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.custom {
    display: flex;
    justify-content: space-between;
    width: 22%;
    margin-top: 40px;
}
.hm {
    color: red;
    font-size: 45px;
    margin-top: 20px;
    font-weight: lighter;
    letter-spacing: -5px;
    font-style: italic;
}
.sign {
    display: flex;
    justify-content: space-between;
    width: 24%;
    margin-top: 40px;
}
.leftright {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: -120px;
}
.left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-top: 20px;
    font-weight: lighter;
}
.right {
    width: 12%;
    margin-right: 20px;
    margin-top: 20px;
}
.right > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}
.right > div:nth-child(1) > p:nth-child(2) {
    margin-right: 30px;
}
.right > div:nth-child(2) {
    border: 1px solid black;
    margin-top: 5px;
}
.member {
    width: 100%;
    height: 40px;
    margin-top: 30px;
}
.member > div:nth-child(1) {
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.season {
    width: 100%;
    height: 500px;
}
.season1 {
    width: 60%;
    margin: auto;
    height: 500px;
    display: flex;
}
.seasonleft {
    width: 50%;
    height: 500px;
    background-image: url(https://lp2.hm.com/hmgoepprod?set=format%5Bwebp%5D%2Cquality%5B79%5D%2Csource%5B%2F0c%2F51%2F0c51e381f0ae6b4daddd6a6b755592f5e8cad368.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url%5Bfile%3A%2Fproduct%2Fmain%5D);
    background-size: cover;
}
.seasonright {
    width: 50%;
    height: 500px;
    background-image: url(https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F6d%2F25%2F6d2594328eec7a206f26cf442fa55c9daf0bf50d.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]);
    background-size: cover;
}
.season2 {
    text-align: center;
    margin-top: -200px;
}
.season2 > h1 {
    font-size: 45px;
    color: white;
}
.season2 > p {
    color: white;
    font-size: 18px;
    margin-top: 15px;
}
.season2 > button {
    background-color: white;
    color: black;
    width: 90px;
    height: 35px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    outline: none;
}
.men {
    width: 100%;
    height: 600px;
    margin-top: 30px;
}
.mens {
    width: 60%;
    height: 600px;
    margin: auto;
}
.mens1 {
    width: 100%;
    height: 600px;
    background-image: url(https://image.hm.com/ffc/share/assets/2023/1008/men/3128_04_3x2.jpg?imwidth=2160);
    background-size: cover;
}
.mens > h1 {
    font-weight: bold;
    font-size: 75px;
    margin-top: -380px;
    margin-left: 100px;
    color: white;
}
.mens > button {
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    outline: none;
    margin-left: 200px;
}
.win {
    width: 100%;
    height: 150px;
    margin-top: 30px;
}
.wins {
    width: 60%;
    margin: auto;
    height: 150px;
    border: 1px solid red;
    background-image: url(&quot;https://lp2.hm.com/hmgoepprod?source=url[https://www2.hm.com/content/dam/global_campaigns/season_08/ladies/1008/1008-3x1-alt-2-autumn-winter-2023-drop-1.jpg]&scale=size[960]&sink=format[jpeg],quality[80]&quot;);
}
.wins > h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.wins > p {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}
.wins > div {
    text-align: center;
}
.wins > div :nth-child(1) {
    background-color: white;
    color: black;
    width: 90px;
    height: 35px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    outline: none;
}
.wins > div :nth-child(2) {
    background-color: white;
    color: black;
    width: 60px;
    height: 35px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    outline: none;
    margin-left: 5px;
}
.wins > div :nth-child(3) {
    background-color: white;
    color: black;
    width: 80px;
    height: 35px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    outline: none;
    margin-left: 5px;
}
.wins > div :nth-child(4) {
    background-color: white;
    color: black;
    width: 60px;
    height: 35px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    outline: none;
    margin-left: 5px;
}
.category {
    width: 100%;
    height: 270px;
    margin-top: 30px;
}
.category1 {
    width: 60%;
    margin: auto;
}
.category2 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.category3 {
    width: 10%;
    height: 170px;
    border: 1px solid green;
}
.category3 > p {
    text-align: center;
    font-size: 14px;
}
.baby {
    width: 100%;
    height: 600px;
    margin-top: 30px;
}
.baby1 {
    width: 60%;
    margin: auto;
    height: 600px;
}
.baby2 {
    width: 100%;
    height: 600px;
    background-image: url(https://image.hm.com/content/dam/global_campaigns/season_08/baby/4078e/4078e-baby-autumn-fashion-3x2.jpg?imwidth=2160);
    background-size: cover;
}
.baby1 > h1 {
    margin-top: -200px;
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.baby1 > p {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    margin-top: 15px;
}
.baby1 > button {
    background-color: white;
    color: black;
    margin-left: 400px;
    width: 90px;
    height: 35px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    outline: none;
}
.kids {
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
.kids1 {
    width: 60%;
    margin: auto;
    height: 100px;
}
.kids2 > h2 {
    font-size: 20px;
    font-weight: bold;
}
.kids3 {
    margin-top: 15px;
    display: flex;
}
.kids3 > button {
    background-color: white;
    color: black;
    width: 90px;
    height: 35px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 30px;
    margin-left: 5px;
}
.jersey {
    width: 100%;
    height: 380px;
    margin-top: 20px;
}
.jersey1 {
    width: 60%;
    margin: auto;
    height: 330px;
    display: flex;
    justify-content: space-between;
}
.jersey2 {
    width: 23%;
    height: 330px;
}
.season3 {
    width: 100%;
    height: 500px;
    margin-top: 30px;
}
.season4 {
    width: 60%;
    margin: auto;
    height: 600px;
    display: flex;
}
.seasonleft1 {
    width: 50%;
    height: 600px;
    background-image: url(https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fb1%2Fea%2Fb1eaf3edfe70ca39c0d44698a3db03587d7bc3f0.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]);
    background-size: cover;
}
.seasonright1 {
    width: 50%;
    height: 600px;
    background-image: url(https://lp2.hm.com/hmgoepprod?set=format%5Bwebp%5D%2Cquality%5B79%5D%2Csource%5B%2Fbd%2F31%2Fbd3147364c1e84a0f2f55708143e07d5dac6e3fe.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url%5Bfile%3A%2Fproduct%2Fmain%5D);
    background-size: cover;
}
.season5 {
    text-align: center;
    margin-top: -200px;
}
.season5 > h1 {
    font-size: 45px;
    color: white;
}
.season5 > button {
    background-color: white;
    color: black;
    width: 90px;
    height: 35px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    outline: none;
}
.studio {
    width: 100%;
    height: 600px;
    margin-top: 130px;
}
.studio1 {
    width: 60%;
    height: 600px;
    margin: auto;
}
.studio2 {
    width: 100%;
    height: 600px;
    background-image: url(https://image.hm.com/ffc/share/assets/2023/1008/autumn-winter-2023/studio/2018_08_3x4.jpg?imwidth=2160);
    background-size: cover;
}
.studio1 > h1 {
    font-weight: bold;
    font-size: 150px;
    margin-top: -300px;
    text-align: center;
    color: white;
}
.studio1 > p {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    color: white;
}
.studio1 > button {
    background-color: white;
    color: black;
    width: 140px;
    height: 40px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    outline: none;
    margin-left: 400px;
}
.read {
    width: 100%;
    height: 620px;
    background-color: #F4EDDD;
    margin-top: 30px;
}
.read1 {
    width: 60%;
    margin: auto;
    height: 600px;
}
.read2 > :nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.read2 > :nth-child(2) {
    font-size: 11px;
    font-weight: lighter;
    margin-top: 5px;
    text-align: center;
}
.read2 > :nth-child(3) {
    font-size: 14px;
    text-decoration-line: underline;
    margin-top: 20px;
    text-align: center;
}.read3 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.read4 {
    width: 32%;
    height: 200px;
}
.read5 {
    width: 100%;
    height: 200px;
    background-color: white;
    margin-top: -5px;
    text-align: center;
}
.read5 > :nth-child(1) {
    padding-top: 15px;
    font-size: 14px;
}
.read5 > :nth-child(2) {
    font-size: 17px;
    margin-top: 5px;
    font-weight: bold;
}
.read5 > :nth-child(3) {
    margin-top: 90px;
    font-size: 16px;
    font-weight: lighter;
}
.shop {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    background-color: #E4E4E4;
}
.shop1 {
    width: 60%;
    margin: auto;
    height: 250px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}
.section > p {
    margin-top: 10px;
    font-size: 14px;
}
.section1 > p {
    margin-top: 10px;
    font-size: 14px;
}
.section2 > P {
    margin-top: 10px;
    font-size: 14px;
}
.section3 > :nth-child(1) {
    font-size: 14px;
}
.section3 > :nth-child(2) {
    margin-top: 40px;
}
.icons {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.icons1 {
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.icons2 {
    margin-top: 30px;
    text-align: center;
}
.icons2 > :nth-child(2) {
    margin-top: 40px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -5px;
}
.icons2 > :nth-child(3) {
    margin-top: 20px;
    font-size: 12px;
}